@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}
/* ------------------------------------- */
body {
    font-family: Montserrat;
    font-size: 16;
    color: #3a3a3a;
    background-color: #FAFAFA;
  }
  
  .wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  
  ._container {
    /* технический блок */
    max-width: 1270px;
    padding: 0 15px;
    margin: 0 auto;
  }
/* ------------------------------------- */
.iconfonts *{
    margin: 0 0 45px 0;
    color: inherit;
}
.iconfonts {
    padding: 30px 0 15px 0;
}
.iconfonts__1 > *{
    padding: 15px;
    margin-right: 20px;
    background-color: #345345;
    color: #FAFAFA;
}
.iconfonts__2 > *{
    padding: 15px;
    margin-right: 20px;
    background-color: #5b9279;
    color: #FAFAFA;
}
/* ------------------------------------- */
.github {
  padding: 15px 0;
  margin: 0 0 45px 0;
  display: flex;
}
.github__denis > *{
  padding: 15px;
  background-color: #345345;
  color: #FAFAFA;
  margin-right: 20px;
}
.github__dasha > *{
  padding: 15px;
  background-color: #345345;
  color: #FAFAFA;
}
/* ------------------------------------- */
.doka {
  padding: 15px 0;
  margin: 0 0 45px 0;
}
.doka__link > *{
  padding: 15px;
  background-color: #5b9279;
  color: #FAFAFA;
}
/* ------------------------------------- */
.swiper {
  padding: 30px 0 15px 0;
  margin: 0 0 45px 0;
  color: inherit;
}
.swiper > * {
    padding: 15px;
    margin-right: 20px;
    background-color: #345345;
    color: #FAFAFA;
}
/* ------------------------------------- */
.usefull__links {
  padding: 30px 0 15px 0;
  margin: 0 0 45px 0;
  color: inherit;
}
.usefull__links > * {
  padding: 15px;
  margin-right: 20px;
  background-color: #5b9279;
  color: #FAFAFA;
}